name: Tests

on:
  pull_request:

jobs:
  test_supported_versions:
    name: Test on ${{matrix.container }} with ${{ matrix.version }}
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.container }}
      options: --privileged
    strategy:
      fail-fast: false
      matrix:
        version:
         - 2024.1.0
         - 2025.1.0
         - 2025.2.0
         - 2025.3.0
        include:
          - version: 2024.1.0
            product: --scylla-product scylla-enterprise
        container:
          - ubuntu:22.04
          - ubuntu:24.04
          - debian:11
          - debian:12
          - rockylinux:8
          - rockylinux:9
          - oraclelinux:8
          - almalinux:9
          - amazonlinux:2023
    steps:
      - if: contains(matrix.container, 'ubuntu') || contains(matrix.container, 'debian')
        name: Install packages Ubuntu / Debian
        run: | 
          apt-get update

      - if: contains(matrix.container, 'amazonlinux') || contains(matrix.container, 'oracle') || (contains(matrix.container, 'rockylinux'))
        name: Install packages For AmazonLinux / Rockylinux / Oracle
        run: |
          yum update -y && yum install -y tar gzip

      - uses: actions/checkout@v4

      - if: ${{ !((matrix.container == 'amazonlinux:2023' && matrix.version == '2024.1.0') || (matrix.container == 'debian:12' && (matrix.version == '2024.1.0' || matrix.version == '2025.1.0'))) }}
        name: Install Scylla first release
        run: ./server --scylla-version ${{ matrix.version }} ${{ matrix.product }}

  test_latest_in_version:
    name: Test installation for latest in specific version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo ./server --scylla-version 2025.3

  test_nightly_master:
    name: Test installation for nightly-master version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo ./server --scylla-version nightly-master

  test_latest:
    name: Test installation for latest version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo ./server
  
  test_active_releases:
    name: Test listing active releases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo ./server --list-active-releases
